
<div class="reviews-io-rating-bar-widget"
  widget-id="aUc3E7rhlGZwXkYW"
 data-store-name="herbalgardens.co.uk"
 lang="en"
 ></div>
<script src='//widget.reviews.io/modern-widgets/rating-bar.js'></script>

{% schema %}
{
  "name": "Footer Bar",
  "presets": [
    {
      "name": "Footer Bar"
    }
  ]

}
{% endschema %}
